[2014-07-17 19:28] rzinsly opened #1 "%f and %F cannot be used together in the same printf statement."
Printf statements that uses %f and %Hf  didn't work, the values printed will be zero instead of the real values of the variables in %f and %Hf.

For example, this: printf("%f (long double) %Hf (_Decimal64)\n", number, dd)
Will generate this output: 0.000000 (long double) 0.000000 (_Decimal64)

From libdfp side, for a value with 32 bits the function __d32_va (./printf_dfp.c:300) is called with the

[2014-11-18 19:32] rzinsly opened #2 "libdfp.so.1 is not created on cross compiler"
While trying to build libdfp on cross with AT, the libdfp.so.1 is not created and no error message is displayed.
This is the log:

+Linking shared object files into libdfp-1.0.9.so.
/home/rzinsly/AT/eight/at-next-8.0/bin/powerpc64-linux-gnu-gcc  -DSHARED -O3 -Wl,-zrelro -fpic -g -m64 -mcpu=power7  -shared -Wl,-soname,libdfp.so.1 -Bsymbolic -Wl,--whole-archive libdecnumber/libdecnumber.a -Wl,--no-w

[2015-03-31 07:00] frediz opened #3 "test failure"
On ppc64el, there a failure on test-strtod :
$ cat test-strtod.out
104 Error:   Expected: "+0,000,000,000,000,000E-398"
             Result:   "+5,000,000,000,000,000E-398"
    in: ./tests/test-strtod.c:119.

Found 1 failures.

[2015-04-06 17:47] tuliom commented on #3
I was able to reproduce this issue on Ubuntu 14.04.

[2015-04-06 19:32] gftg85 opened #6 "configure does not substitute the variable 'cross_compilation'"
Running 'configure' on libdfp does not substitute the value of the variable 'cross_compilation' on Makefile.in

[2015-04-13 11:26] gftg85 commented on #2
The same happens with commit ID bced2369048b5ec4b49ad72f96bb61013fa80f4a

[2015-04-13 18:07] tuliom commented on #2
This bug should now be fixed with commit 32101191.

[2015-04-13 18:07] #2 closed

[2015-04-13 18:09] tuliom commented on #6
This code has been removed from the project, so this error doesn't exist anymore.

[2015-04-13 18:09] #6 closed

[2015-04-17 14:08] tuliom commented on #3
@frediz It looks like Debian and Ubuntu are building libdfp without support for hardware decimal floating point.
I strongly recommend to either update them to commit ID 167c95fc or/and start configuring it with --with-cpu.

This error is happening on soft-dfp only.

[2015-05-21 14:12] tuliom commented on #1
As explained in pull request #8 , we can't reproduce this issue anymore.

[2015-05-21 14:12] #1 closed

[2015-07-10 14:58] pmur opened #12 "'make check' segfaults"
"./configure && make && make check" Running on a POWER8 RHEL7.1 LE, and BE host:

`LD_LIBRARY_PATH=./:$LD_LIBRARY_PATH ./test-bfp-conversions 2> ./test-bfp-conversions.out 1> /dev/null
/bin/sh: line 1: 16985 Segmentation fault      LD_LIBRARY_PATH=./:$LD_LIBRARY_PATH ./test-bfp-conversions 2> ./test-bfp-conversions.out > /dev/null
make: *** [test-bfp-conversions.out] Error 139`

On a POWER8 Ubuntu

[2015-07-10 15:00] pmur commented on #12
Note, when configuring with "--with-cpu=power8" on a systems, all hosts pass check.

[2015-09-08 13:55] tuliom opened #13 "fabs() is rertuning wrong values for 128-bit type"
It's happening on ppc64 and ppc64le, with different distributions.

Output of test-fabs-d128:
Failure: Test: fabs (-42)
Result:
 is:         -4.20000000000000000000e+01  -4.2000000000000000000000000000000000e+01
 should be:   4.20000000000000000000e+01  4.2000000000000000000000000000000000e+01
 difference: -8.40000000000000000000e+01  -8.4000000000000000000000000000000000e+01
 ulp       : -8400000

[2015-09-08 14:16] tuliom opened #14 "Investigate quantize() results"
The following output has been reported by an user.
It looks like quantize() is giving better results than the test expects.
Reproduced on power8.

Output:
6../test-quantize-d32
...
Test: quantize (-0.1, 1.0)
Result:
 is:         -1.00000000000000000000e-01  -1.00000000e-01
 should be:  -0.00000000000000000000e+00  -0.00000000e+00
 difference:  1.00000000000000000000e-01  1.00000000e-01
 ulp

[2015-09-08 14:18] tuliom opened #15 "Investigate log() results"
An user reported the following suspicious output for log().
Reproduced on power8.

Output:
2../test-log-d64
...
Test: log (2.718281828459045235360287471352662)
Result:
 is:          9.99999999999999900000e-01 9.9999999999999990e-01
 should be:   1.00000000000000000000e+00 1.0000000000000000e+00
 difference:  1.00000000000000000000e-16 1.0000000000000000e-16
 ulp       :  0.1000
 max.ulp   :  0.000

[2015-09-08 14:20] tuliom opened #16 "Investigate log10() results"
An user reported the following output from log10() as suspicious.
Investigate if they're fine or not.
Reproduced on power8.

Output:
4../test-log10-d64

...
Test: log10 (3.141592653589793238462643383279503)
Result:
 is:          4.97149872694133800000e-01 4.9714987269413380e-01
 should be:   4.97149872694133900000e-01 4.9714987269413390e-01
 difference:  1.00000000000000000000e-16 1.00000000000000

[2015-09-08 21:35] zatrazz commented on #13
The problem for powerpc optimized routine is it assumes that __Decimal128 will be passed using 'fp0', while it is passed and returned in fp2 and fp3 (it requires by ABI to use an even/odd register pair and since fp0 is a scratch register, the new one is fp2). Below a patch to fix it.

diff --git a/sysdeps/powerpc/dfpu/fabsd128.c b/sysdeps/powerpc/dfpu/fabsd128.c
index b0dd73e..c1c38e8 100644
--- a

[2015-09-09 19:03] tuliom commented on #13
Adhemerval,
I confirmed your patch does solve the problem.
Could you re-send it as a formal contribution, please? i.e. a patch with a subject, a description (entirely based on your previous comment) and following the guidelines at [CONTRIBUTING](https://github.com/libdfp/libdfp/blob/master/CONTRIBUTING).

[2015-09-09 20:09] zatrazz commented on #13
Done, I fixed other implementations as well.

https://github.com/libdfp/libdfp/pull/17

[2015-09-11 12:23] #13 closed

[2015-09-17 22:45] pmur commented on #12
I found the problem. The build scripts aren't checking to see what cpu they're building for when you don't specify --with-cpu=x.

This results in a strange and broken combination of hardware and software support depending on the default cpu gcc was built for. It will insert calls and inline asm dependent on its configuration.

[2015-09-21 22:18] pmur commented on #14
The expected output is correct. The test case assumes the wrong value. I.e written in another identical way:
quantize( -1e-1, 10e-1 ) == -1e-1.

[2015-09-22 14:28] pmur commented on #15
Looking into this... This is a consistent result for the soft dpd, soft bid, and power8 optimized version.

This is likely a trade off of the Taylor series used to approximate the function. Will look into it a bit more.

[2015-09-22 22:58] pmur commented on #15
Also, note that the ULP calculation is off by a factor of 10. That should read 1 ULP of error. I was a bit confused as to how it was possible to have a non integral ULP when comparing two floating point numbers.

[2015-09-23 19:05] #15 closed

[2015-09-23 19:50] pmur commented on #16
I think the expected value for test-log10-d128 is wrong. Using bc on a similar input, with much more precision indicates the last digit should be a 0, regardless of rounding mode.

[2015-09-24 20:49] tuliom commented on #16
I agree with you.

[2015-09-24 22:11] pmur commented on #3
This is fixed by commit 81e81749bde01845c4866d775eb8fbb3b69b6495 on master.

[2015-09-24 22:11] #3 closed

[2015-09-24 22:12] pmur commented on #12
This is fixed by commits 023a1d9baddc7873b9450b1c995574e8019214e7 and f508fe0739fbc2c88d4d88a4e755cef88a9a8082 on master.

[2015-09-24 22:12] #12 closed

[2015-09-25 19:36] pmur opened #22 "Investigate exp()"
decimal32 and decimal64 have high ulps (15 and 13 respectively) with the input 88.72269439697265625.

[2015-09-28 21:45] pmur commented on #22
D64 and D32 utilize an approximation which strips off fraction off the exponent. This causes some loss of precision, and therefore some carrying error when summing the taylor series. D128 falls back to libdecnumber, which claims <= 1 ulp.

In the case above,  there is a bit of drift in the summing of the taylor series. The sum has 8 ulp of error, which is further compounded by the multiplication o

[2015-10-26 14:10] pmur commented on #14
The broken test case has been fixed by MR21

[2015-10-26 14:10] #14 closed

[2015-10-26 14:12] pmur commented on #16
MR21 has fixed the incorrect expected result for d128. The d64 result is within acceptable tolerance.

[2015-10-26 14:12] #16 closed

[2015-12-03 22:02] pmur opened #25 "tf functions broken with BID encoding"
The existing long double <-> _Decimal128 conversion functions assume IBM long double. This is not always correct.

[2015-12-10 17:44] pmur opened #26 "BID comparison routines broken on x86-64"
x86-64 expects these to be return as a long. This causes strange and confusing failures when gcc performs comparisons. I.e -1 < 0.

This appears to be an issue with the return type of the comparison functions as the word size on x86-64 is not the same size as an int.

[2015-12-18 17:28] pmur commented on #26
This is fixed by commit 0aea60503cfe3ecb215dc9fd4ac9b4c05134d1b0

[2015-12-18 17:28] #26 closed

[2015-12-18 17:30] tuliom opened #27 "Implement unit tests for exception handling"
While working on PR #24, we noticed that a mistake should have caused the testsuite to failure but it didn't.
I could mean that:
 - Our tests aren't coverying that kind of error (replace __builtin_clz() by __builtin_ctz()).
 - Our tests generated the error, but GNU Make didn't catch it.
 - Or we don't have tests for exception handling.

[2015-12-19 16:05] jsm28 opened #29 "Conversions not correctly rounded"
IEEE 754, TR 24732 and TS 18661-2 all specify that conversions between binary and decimal floating point types, in either direction, must be correctly rounded.  The libdfp conversions, however, are not.  The appended test illustrates this for conversions from _Decimal128 to double and I expect other conversions are similarly affected.  Testing on POWER8 little-endian, I get

334 passes, 309 fails

[2015-12-19 16:08] jsm28 commented on #29
[test29.txt](https://github.com/libdfp/libdfp/files/67514/test29.txt)
Test attached as .txt since GitHub doesn't allow attaching .c files.

[2015-12-19 16:14] jsm28 opened #30 "Conversions wrongly produce zero instead of subnormal"
At least some libdfp conversions between decimal and binary types wrongly convert values in the subnormal range of the target type to zero instead of a subnormal.  For example, for conversions from _Decimal128 to double, the attached test (on POWER8 little-endian) outputs:

0x0.012688b70e62bp-1022 0x0p+0

whereas if I use the libgcc conversions I get the expected:

0x0.012688b70e62bp-1022 0x0.0126

[2015-12-19 16:19] jsm28 opened #31 "Conversions incorrect on overflow"
At least some libdfp conversions between decimal and binary types wrongly always produce an infinity for obviously overflowing results, without taking account of the rounding mode (the relevant rounding mode is that for the radix of the target type, not the source type).  For example, the attached test converting 1e1000DL to double produces (on POWER8 little-endian):

inf

but the expected result,

[2015-12-19 16:23] jsm28 opened #32 "Conversions incorrect on underflow"
At least some libdfp conversions between decimal and binary types wrongly always produce a zero for obvious underflowing results, without taking account of the rounding mode (the relevant rounding mode is that for the radix of the target type, not the source type). For example, the attached test converting 1e-1000DL to double produces (on POWER8 little-endian):

0x0p+0

but the expected result, as

[2015-12-19 16:28] jsm28 opened #33 "Conversions missing "inexact" exception"
At least some libdfp conversions between decimal and binary types wrongly fail to raise the "inexact" exception for inexact results.  For example, the attached test prints

inexact not raised

instead of the expected

inexact raised as expected

(libgcc conversions via strings have the same issue because glibc strtod fails to raise "inexact", which is a strtod bug; this bug report is only about th

[2015-12-19 16:31] jsm28 opened #34 "Conversions wrongly clear already-raised "inexact" exception"
At least some libdfp conversions between decimal and binary types wrongly clear the "inexact" exception when it was raised before the conversion; the exception flag bits are sticky and should not be cleared except by a few functions such as feclearexcept.  For example, the attached test prints

inexact wrongly cleared

instead of the expected

inexact still raised as expected

that it does with th

[2015-12-23 20:58] pmur opened #36 "Incremental builds are broken"
The build system does not check included for files, leaving incremental builds in broken states.

[2015-12-24 12:35] tuliom commented on #22
Does it make sense to add a comment to the source code saying that?

[2015-12-28 11:13] gftg85 commented on #36
I confirm this.

Steps to reproduce:

1. ./bootstrap
1. ./configure
1. make
1. echo "#error No error?" >> include/dfp.h
1. make

The last make should report the error, but it doesn't.

Cleaning, then re-building produces the expected behavior:

1. make clean
1. make

[code]

[2015-12-31 17:52] tuliom opened #38 "check-localplt is failing on Debian 8 ppc"
I noticed this recently, but it seems to be affecting older revisions.
I was able to reproduce it on Debian 8.  The kernel is ppc64, but I was building for ppc.

    configure --build=powerpc-linux --host=powerpc-linux
    ...
    $ cat check-localplt.out
    Extra PLT reference: libdfp.so: register_printf_dfp@@LIBDFP_1.0.0
    Missing required PLT reference: libdfp.so: register_printf_dfp

[2016-01-04 11:51] #36 closed

[2016-01-04 22:14] pmur commented on #38
Looks like our scripts are a bit of out date. Some versions of readelf append the symbol version. glibc fixed this a while back. I'll synch our copy up.

[2016-01-06 17:01] tuliom commented on #38
LGTM

[2016-01-06 17:40] #38 closed

[2016-02-04 17:02] tuliom opened #42 "Got a warning when running the tests"
Reproduced this on Ubuntu 14.04 ppc64le:

    /home/tuliom/src/libdfp/tests/test-amort.c: In function ‘main’:
    /home/tuliom/src/libdfp/tests/test-amort.c:327:9: warning: ignoring return value of ‘fread’, declared with attribute warn_unused_result [-Wunused-result]
       fread (inputs, sizeof (inputtype), numinputs, inputfile);
             ^

[2016-02-17 14:37] xnox opened #43 "FTBFS on s390x configured --with-cpu=z10"
When configuring libdfp on s390x with z10 CPU setting, the package fails to build from source:

[code]

[2016-02-17 17:16] pmur commented on #43
I suspect this should be fixed by MR41.

I'm working on getting my zVM running again to verify on this platform.

[2016-02-17 23:11] xnox commented on #43
I can try to validate that MR.

[2016-02-18 21:17] pmur commented on #43
@xnox It looks like libdfp has a number of other issues which need fixed too. Locally, I've gotten z10 working, and passing make check, excepting a false negative on the check-localplt test.

I'll get the patches up later today.

[2016-02-18 21:30] pmur commented on #25
This also applies when TFmode maps to IEEE128 too.

[2016-02-18 23:20] pmur commented on #43
@xnox I posted MR44 which fixes this, and numerous other s390 bugs.

[2016-03-03 22:41] pmur commented on #43
This should be fixed upstream, along with a number of other optimizations done by Stefan Liebler.

[2016-03-03 22:41] #43 closed

[2016-03-04 14:55] pmur opened #47 "s390: D128 -> D32 double rounds"

[2016-03-04 14:56] pmur opened #48 "s390: Decimal -> int128 should raise inexact"

[2016-05-28 17:35] jmdubois opened #49 "_Decimal64 * 1000 may give wrong results"
O.S. : Centos7 64 bits
GCC : 4.9.3
libdfp: master

[code]
result :

9.853946746503084 * 1000 = 98539467.46503084

[2016-05-30 23:11] tuliom commented on #49
I couldn't reproduce this on ppc64le.
@jmdubois which architecture did you use?

[2016-05-31 07:27] jmdubois commented on #49
I use a CentOS 7 64 bits in a VMWare Workstation virtual machine runing in a Core i7 computer.

[2016-05-31 15:36] pmur commented on #49
I confirmed this bug happens under -O0. The conversion back to BID from libdecnumber is wrong within libdfp's __bid_muldd3.

[2016-05-31 16:29] jmdubois commented on #49
The result is wrong with 'CFLAGS=-O2;./configure' also.

[2016-06-06 22:19] pmur commented on #49
This should be fixed upstream now. Thank you for reporting @jmdubois

[2016-06-06 22:19] #49 closed

[2016-07-11 13:47] mopsfelder opened #52 "Syntax error on scripts/localplt.awk during "make check" on Ubuntu 14.04.4 ppc64el"
The following error happens on Ubuntu 14.04.4 ppc64el during "make check":

LC_ALL=C mawk -f scripts/localplt.awk libdfp.so.jmprel | \
	  LC_ALL=C mawk -f scripts/check-localplt.awk ./sysdeps/generic/localplt.data - \

mawk: scripts/localplt.awk: line 76: regular expression compile failed (bad class -- [], [^] or [)
([^
mawk: scripts/localplt.awk: line 76: syntax error at or near ]
mawk: scripts/l

[2016-07-11 14:54] pmur commented on #52
Thanks for catching this. These scripts derive from glibc, so the autoconf scripts should be updated instead.

[2016-08-12 18:08] #42 closed

[2016-10-20 02:36] Zhengtong opened #53 "test-exp-d32/64 failed with exp (88.72269439697265625)"
Test: exp (88.72269439697265625)
Result:
 is:          3.40231600000000000000e+38  3.4023160e+38
 should be:   3.40233100000000000000e+38  3.4023310e+38

Not sure if this is a bug of the test suit. would anyone please have a look at it ?

[2016-10-20 02:43] Zhengtong opened #54 "Failed with test-log-d128/64 on 2.718281828459045235360287471352662"
test-log-d64:
Test: log (2.718281828459045235360287471352662)
Result:
 is:          9.99999999999999900000e-01  9.999999999999999e-01
 should be:   1.00000000000000000000e+00  1.000000000000000e+00
 difference:  1.00000000000000000000e-16  1.000000000000000e-16
 ulp       :  0.1000
 max.ulp   :  0.0000

test-log-d128:
Test: log (2.718281828459045235360287471352662)
Result:
 is:          1.00000000

[2016-10-20 02:54] Zhengtong opened #55 "log10 (3.141592653589793238462643383279503) failed with test-log10-d64"
Test: log10 (3.141592653589793238462643383279503)
Result:
 is:          4.97149872694133800000e-01  4.971498726941338e-01
 should be:   4.97149872694133900000e-01  4.971498726941339e-01
 difference:  1.00000000000000000000e-16  1.000000000000000e-16
 ulp       :  1.0000
 max.ulp   :  1.0000

[2016-10-23 16:13] tuliom commented on #53
Which architecture are you using?

[2016-10-23 16:13] tuliom commented on #55
Hi @Zhengtong , which architecture are you using?

[2016-10-23 16:14] tuliom commented on #54
Which architecture are you using?

[2016-10-24 02:24] Zhengtong commented on #55
I am using ppc64le platform

[2016-10-24 02:25] Zhengtong commented on #54
on ppc64le platform

[2016-10-24 02:25] Zhengtong commented on #53
ppc64le

[2016-10-25 09:19] tuliom commented on #53
This issue is duplicated.

[2016-10-25 09:20] #53 closed

[2016-10-28 11:51] tuliom commented on #54
In my tests, this isn't being reported as an error, which is expected.
In libdfp, we consider an error if the ULP is greater than 0.5.
Per your output, it seems it wasn't classified as an error too, because it doesn't have the string "Failure: " anywhere.

[2016-10-28 11:51] #54 closed

[2016-10-28 11:54] tuliom commented on #55
The output in this case is in the maximum ULP range.
So, this isn't a problem.
I also confirmed that it isn't being incorrectly classified as error in the tests.

[2016-10-28 11:54] #55 closed

[2016-10-29 01:48] Zhengtong commented on #55
Thanks, it make sense

[2016-10-29 01:48] Zhengtong commented on #54
Thanks for the clarification @tuliom

[2017-06-23 13:17] frediz opened #56 "s390x test failures"
Hi,
while compiling on s390x, I noticed several tests failing.
Note that this was done on a qemu guest, on Debian Unstable (I'm maintaining the Debian package).
Hardening was disabled and test ouput should be displayed within the log.
Here is the build log :

F.

[libdfp_1.0.13-2-1.buildlog.txt](https://github.com/libdfp/libdfp/files/1097884/libdfp_1.0.13-2-1.buildlog.txt)

[2017-06-23 13:32] frediz opened #57 "test-bfp-conversions segfault"
Hi,
on ppc64 and Debian Unstable with the hardening flag -fstack-protector-strong, this test only fails.
Can you help ? Thanks.
Here is the log of the test :

[code]

[2017-07-17 13:59] racardoso commented on #57
@frediz I am trying to reproduce this error here without success. I already tried master branch and tag 10.0.13. I was using Ubuntu 16.04 (ppc64le) and gcc 6.3.0. Can you have any more details? Like machine, OS, and, gcc version.

[2017-07-17 18:23] racardoso commented on #57
I've tried it at a power8 BE (RHEL 7.1) using AT 10.0 gcc (the test wont compiles with gcc < 4.9). And still cannot reproduce. This is how I tested it:

Cloned from repo (also tried with master branch):
[code]

Build command:
[code]

Generate test:
[code]

Running test:
[code]

All tests success. Maybe I am missing something.

[2017-07-19 15:43] frediz commented on #57
Hi @racardoso ,

the machine is a ppc64 VM but I'm using the Debian Unstable environment in a schroot (meaning the kernel is a 3.13 instead of a Debian Unstable 4.11) :
$ gcc -v
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/lib/gcc/powerpc64-linux-gnu/6/lto-wrapper
Target: powerpc64-linux-gnu
Configured with: ../src/configure -v --with-pkgversion='Debian 6.3.0-19' --with-bugurl=fi

[2017-07-19 17:58] racardoso commented on #57
@frediz Right. I understand. I'll see if I can try it on BE with Debian Unstable. I was trying to create a chroot inside a VM on ppc64le here. If you can provide me access to your env it would be very nice.

[2017-07-20 13:50] racardoso commented on #57
Hi @frediz I'll try to get a BE machine and install Debian Unstable. It would be nice if you can provide me access to you env.

[2017-08-09 18:02] tuliom opened #58 "Fix the permission of the crontab file"
The crontab file should have mode bits 644.
Having 664 may spam the syslog of some Linux distributions.  Ubuntu 17.04 is known to be affected by this.

[2017-08-09 18:02] tuliom commented on #58
Wrong project.

[2017-08-09 18:02] #58 closed

[2017-09-04 20:20] racardoso opened #60 "Conversion incorrect for long double when overflow."
`long double` type should, depending on the rounding mode, return `INFINITY` when overflow instead, it returns NaN. For example, the attached test converting `1e1000DL` to `long double` produces (on POWER8 little-endian):

[code]
The expected result should be `inf` instead `nan`.

[2017-09-14 14:46] racardoso commented on #30
This is related to #32. Now it's returning a 0x0.0000000000001p-1022 since it's considering a obvious underflow. Maybe my #61 is incomplete. I am working on this now.

[2017-09-19 10:53] fweimer opened #62 "Fails to build on s390x due to unrecognized srnmt opcode"
I get this:

    ../sysdeps/s390/dfpu/fe_decround.c: Assembler messages:
    ../sysdeps/s390/dfpu/fe_decround.c:56: Error: Unrecognized opcode: `srnmt'
    make: *** [fe_decround.o] Error 1

This happens with binutils 2.28-8.el7 (from devtoolset-7-binutils-2.28-8.el7.s390x) and gcc 7.2.1 (from devtoolset-7-gcc-7.2.1-1.el7.s390x).

[2017-09-19 18:13] tuliom commented on #62
@fweimer, which parameters are you using to configure libdfp?

[2017-09-19 18:16] tuliom commented on #62
For the record: I didn't find any recent changes to Binutils that affected srnmt and I couldn't reproduce this issue with gcc version 7.1.1 20170622.

[2017-09-19 19:40] fweimer commented on #62
@tuliom, I'm just using the default flags.

[2017-09-19 20:51] tuliom commented on #62
I've just reproduced this bug.

[2017-09-20 02:22] tuliom commented on #62
The default value of -march on RHEL7's gcc is z9-ec, which does have DFP instructions.

devtoolset-7 defaults to -march=z9-109, which doesn't have DFP instructions.

@fweimer If libdfp is configured using --with-cpu=z9-109, the build and tests will pass fine.  However, I strongly suggest to use at least --with-cpu=z9-ec in order to use DFP instructions.

[2017-09-27 13:36] tuliom opened #63 "Update libdfp with the latest build and test infrastructure from glibc"
Excerpt from @jsm28:

Source: https://sourceware.org/ml/libc-alpha/2017-09/msg00823.html

[2017-09-28 04:14] pmur commented on #63
@tuliom I'd be interested in taking a look into this.

[2017-09-28 12:53] jsm28 commented on #63
I'd like to reiterate what I said at https://sourceware.org/ml/libc-alpha/2017-09/msg01029.html regarding the context for the above quoted comments.  They are about a hypothetical situation: suppose we had consensus for inclusion of decimal floating-point support in glibc rather than as a separate project (and that has not, in fact, been proposed, and the feature is so specialized it's unclear the

[2017-10-05 14:36] racardoso commented on #32
Closed via  c5f353e

[2017-10-05 14:36] racardoso commented on #31
Closed via  bc38bdf

[2017-10-05 14:36] #31 closed

[2017-10-05 14:48] jsm28 commented on #32
This fix looks from for FE_TONEAREST mode, when conversion of a value with absolute value less than or equal to half the least subnormal in the target type should produce +/- 0, not +/- the least subnormal.

[2017-10-05 15:02] racardoso commented on #32
@jsm28 You're right. I will fix it here.

[2018-02-22 15:31] racardoso commented on #30
The problem here is that `BINPOWOF10_LIMIT` is E308 (for double) that's the exponent for max and min normal number but, the min subnormal exponent is E324 (4.9406564584124654e-32).

[2018-03-01 20:14] racardoso commented on #29
Mantissa is incorrectly rounded `FAIL: Expected: 0x1.774dce29d3562p+985 Got: 0x1.774dce29d3561p+985`. The last digit is wrong by (0.00000000001) I am investigating this.

[2018-03-01 20:18] racardoso commented on #34
The problem is in this line https://github.com/libdfp/libdfp/blob/c5f353ed6cef0571b8056a8bee3d4db742722faf/base-math/trunctddf.c#L105 it always clear `FE_INEXACT` no matter if we force a exception or if we produce a inexact result. Comment this line make the test pass and I didn't see any side effects. I don't know why this line was added. I am working on it.

[2018-03-01 20:19] racardoso commented on #33
Related with task #34.

[2018-03-07 20:42] racardoso commented on #33
I am checking if I have to clean this inexact if the result is a normal number. If I have to, I will have to check any exceptions before the code and then check if the number is not a subnormal in the end.

[2018-03-07 20:46] racardoso opened #66 "Cleaning and stardarize the code format."
Seems like we have lots of trailing white spacing and the code is not standardized (looks like GNU, but there's lots of things that doesn't follow the code standard). I am creating a task to check what standard to follow and fix accordingly.

[2018-04-23 08:39] stliibm commented on #56
Hi,

You've compiled with: gcc ...-march=zEC12 ... -mzarch ...
And according to the buildlog, you've got several Illegal instructions.

Which CPU do you use? >= zEC12?
Note: As far as I know, the qemu emulator lacks support for decimal-floating-point instructions.

Stefan

[2018-05-15 11:26] stliibm opened #71 "s390x: Failing tests test-cast-to-overflow / test-cast-to-underflow"
On s390x (with hardware dfp) the test test-cast-to-overflow fails with:
3   Error:   Expected: "0x1.fffffffffffffp+1023"
              Result:   "inf"
in: /home/stli/libdfpDir/src/tests/test-cast-to-overflow.c:49

4   Error:   Expected: "-0x1.fffffffffffffp+1023"
              Result:   "-inf"
in: /home/stli/libdfpDir/src/tests/test-cast-to-overflow.c:50

5   Error:   Expected: "0x1.fffffffffffffp

[2018-05-15 17:36] racardoso commented on #71
@stliibm I was not aware about the S390 in fact I did not test on it before so thank you for doing that. I am working on what your reported here to fix those issues

[2018-08-14 19:58] tuliom commented on #47
Fixed with commit 8a435d985bd59acbd357525ce1946f02acbca90a.

[2018-08-14 19:58] #47 closed

[2018-08-15 17:49] tuliom commented on #56
@frediz were you able to pass the tests?

[2018-08-15 17:54] tuliom commented on #48
This issue has been fixed.

[2018-08-15 17:54] #48 closed

[2018-08-15 18:16] tuliom commented on #71
This report is covering multiple issues:

- [ ]  pfpo is using the wrong RM-mode.
- [ ] Half of the least subnormal has wrong values in test-cast-to-overflow and test-cast-to-underflow.
- [ ] Typo in commit https://github.com/libdfp/libdfp/commit/4f67ffa3c65fed967ad23b8d2aea9921f0bd1cc0

AFAIU, the second issue was fixed with https://github.com/libdfp/libdfp/commit/a0e1d24cb45394ba3a2da4cbf23f3d60

[2018-08-17 14:28] #33 closed

[2018-08-17 14:28] #34 closed

[2018-08-17 14:34] racardoso commented on #30
This is already fixed. Although, we still have some problems with subnormal numbers there's already issues #32 #71 #29 that point that issues. So I am closing this.

[2018-08-17 14:34] #30 closed

[2018-08-29 11:11] stliibm commented on #71
The RM-mode issue with pfpo is currently not fixed in GCC head. Andreas Krebbel will care about that. Then I'll reference the commit and report if it was backported.

[2018-09-12 11:27] stliibm commented on #71
Here is the gcc patch: "[PATCH] S/390: Use proper rounding mode for DFP to BFD conversions"
https://gcc.gnu.org/ml/gcc-patches/2018-09/msg00404.html

which is committed to gcc head and backported to gcc 8, gcc 7:
https://gcc.gnu.org/viewcvs/gcc?view=revision&revision=264234
https://gcc.gnu.org/viewcvs/gcc?view=revision&revision=264235
https://gcc.gnu.org/viewcvs/gcc?view=revision&revision=264236

[2018-09-26 21:42] injinj opened #78 "libdecnumber"
Libdecnumber doesn't appear to be used, but it is about 3 years behind gcc.  On x86_64 / BID encoding, the endian is swapped, so it doesn't work with the current gcc _DecimalXX encoding.  The gcc version of libdecnumber does works with the builtin type.  I've pulled out libdecnumber from gcc here:  https://github.com/raitechnology/libdecnumber

I'm not sure of the gcc status of _DecimalXX, since t

[2019-03-01 19:10] racardoso commented on #60
Fixed in 9c45074fcba2bf9bc7517ea80ae6b37c82da322e

[2019-03-01 19:10] #60 closed

[2019-03-21 12:59] racardoso opened #82 "Exponent check must be not use exp from getmantandexpd*"
Exponent check must be not use exp from getmantandexpd*. That's because those function returns the nromalized exponent which is adjusted later in the code. Some exception (underflow/overflow) code is using this exponent which may lead on wrong results:

`1.797693134862316e308DD` the result `1797693134862316e309` and exp is `309`. I the case of a conversion to a double 309 is beyond the maximum (ba

[2019-07-10 19:53] tuliom opened #83 "Can't run the tests on newer distributions that do not provide python"
Newer distributions provide only python3 by default.
Some are even considering to drop support for python, aka. python 2

[code]
There are 2 problems here:
1. The configure is not checking if python is available;
2. libdfp should start to require python3.

[2019-07-16 14:39] frediz opened #84 "test-cast-to-underflow fails on power*"
Hi,
when building libdfp 1.0.14 on ppc64el, ppc64 and powerpc on current debian unstable (gcc 8.3), the test test-cast-to-underflow fails. Here is an extract on ppc64el :

[code]

Fred

[2019-08-08 14:45] xnox commented on #84
Also affects Ubuntu, and blocks upgrading libdfp

[2019-08-08 15:26] tuliom commented on #84
@xnox Why is it blocking the upgrade?
This new testcase is catching an issue that existed in previous releases.

[2019-08-08 16:21] xnox commented on #84
Because it fails the build, when we execute the check target at build time. Please mark the testcase as XFAIL on power, and then I can cherrypick that patch and upgrade to 1.0.14 with that test case xfail-ing. To an untrained eye, it's hard to tell if this is a real regression or not, especially since the build passes on s390x.

[2019-08-08 16:23] xnox commented on #84
ppc64el build: https://launchpadlibrarian.net/436510749/buildlog_ubuntu-eoan-ppc64el.libdfp_1.0.14-0ubuntu1_BUILDING.txt.gz

s390x build: https://launchpadlibrarian.net/436500524/buildlog_ubuntu-eoan-s390x.libdfp_1.0.14-0ubuntu1_BUILDING.txt.gz

[2019-08-08 16:24] xnox commented on #84
Can you make it exit 77 on ppc64el instead of 36?

[2019-08-08 17:04] tuliom commented on #84
@xnox Got it!  Let me provide something for you.
@frediz Is this required in Debian too?

[2019-08-08 18:34] xnox commented on #84
@tuliom i can only assume that @frediz was packaging this for debian, hit the build failure and filed this bug report. Otherwise, the new libdfp could have been in experimental, or unstable already.

[2019-08-09 06:56] stliibm commented on #84
@xnox On s390x it passes as gcc is using hardware instructions for those conversions.

[2019-08-09 13:13] frediz commented on #84
@tuliom yes. As xnox said, I hit that when trying to package 1.0.14 which that bug is blocking atm.
And 1.0.13 did not have that issue previously.

[2019-08-09 13:39] tuliom commented on #84
@xnox , @frediz Pull request #85 should help you.

[2019-08-09 14:46] frediz commented on #84
@tuliom indeed. I'll push a new 1.0.14 to Debian Unstable next week. Thanks

[2019-10-03 20:56] pmur commented on #84
This also fails on x86. Likely for the same reason.

[2019-10-23 16:26] pmur opened #91 "Add tests for soft-dfp compat implementations"
When built against a target with hardware dfp, The GCC callouts for soft-dfp functions (https://gcc.gnu.org/onlinedocs/gccint/Decimal-float-library-routines.html) are mostly inlined.

Libdfp builds these functions to provide compatibility with libraries built against soft-dfp but may be run against a library with hardware support on targets which implement dfp in hardware.

Some basic tests should

[2019-10-25 20:25] pmur opened #93 "Remove mini-gmp Implementation"
This is used in place of __int128 arithmetic which is nominally available on any recent 64b GCC compiler.

GCC converts between BID <-> DPD <-> Decnumber. I am unsure which approach is better today.  Denumber uses declets internally.

[2019-10-29 16:33] pmur opened #94 "TS 18661 Support"
I would be nice to extend support for TS 18661-2.

This will require fixing up the headers to honor new feature tests, and implement new API. I see the following API which is missing:

nextdowndN
nextupdN
canonicalizedN
fmaxmagdN
fminmagdN
totalordermagdN
totalorderdN
ufromfpdN
fromfpdN
fromfpxdN
ufromfpxdN
setpayloadsigdN
setpayloaddN
getpayloaddN
encodedecdN
decodedecdN
encodebindN
decodebindN

[2019-11-08 14:51] pmur commented on #25
This should be fixed. Specifically, x86 DFP is not providing x86 TF variants.

[2019-11-08 14:51] #25 closed

[2019-11-08 14:56] pmur opened #99 "expd64(1000) fails"
This value exceeds the log table lookup and suffers from undefined behavior.

[2019-11-08 14:57] pmur opened #100 "cos(1.57079697) fails"
This is generating a value with ~3 million ULPS, or more likely, a wrong value.

[2019-11-08 15:43] pmur commented on #99
Note. this is only a bug in powerpc.

[2019-11-08 15:55] pmur opened #101 "Tests cases generating warnings on 32b builds"
lrint.c and similar are rightfully generating warnings about integer overflow for several tests when built for ppc32 or i386. This was introduced by my large chunk of patches to cleanup the build system.

[2019-11-21 15:05] pmur opened #103 "ldexpd*(x,y) returns 10^(y+1)"
TS 18661-2 states it should be equivalent to x * 10 ^ y.

[2019-11-21 15:06] pmur opened #104 "ldexpd* returns wrong values for small values"
It return -INF for tiny values. Likewise, it does not respect subnormal resultants.

[2019-11-25 19:34] pmur opened #106 "Implement fabsdN natively and generically"
Both BID and DPD use the most significant bit to indicate sign. This can be done without the overhead of decnumber.

[2019-11-26 20:38] pmur opened #107 "Update ABI check to match glibc"
glibc has since updated its ABI checker. libdfp should do similar to easy new ABI additions. See Florian's update to glibc, c100dca32a6859a47789ddcbb5679e74f8d92a41 .

[2019-12-02 18:04] pmur commented on #104
Fixed in d67dc13e5bff82b5fe4b4a7ad590a7fb33ab6736

[2019-12-02 18:04] #104 closed

[2019-12-02 18:04] pmur commented on #103
Fixed in d67dc13e5bff82b5fe4b4a7ad590a7fb33ab6736

[2019-12-02 18:04] #103 closed

[2019-12-02 18:05] pmur commented on #99
Fixed in noted issues.

[2019-12-02 18:05] #99 closed

[2019-12-02 18:05] pmur commented on #101
Fixed

[2019-12-02 18:05] #101 closed

[2019-12-02 18:05] pmur commented on #100
Fixed

[2019-12-02 18:05] #100 closed

[2019-12-02 18:16] pmur opened #108 "Avoid explicit libdecnumber in string-based radix conversions"
Avoid explicitly falling back to libdecnumber. I am not sure if the string <-> _Decimal routines correctly round based on the requested rounding mode. If not, a bug should be opened an fixed prior to resolving this issue.

[2019-12-13 19:10] pmur opened #113 "Expected test results rounding to 0 incorrectly"
The tester uses 99...9*10^fmt_min as the minimum value. It should actually be 1*10^fmt_min.

[2019-12-18 19:43] tuliom opened #115 "i686: Undefined reference to __restore_rnd"
Reproduced on commit fd8eb0b16d823 with:
[code]

Error message:
[code]

Does sysdeps/generic/dfp_inline.h need to use `__attribute__((always_inline))`?

[2019-12-19 16:52] pmur commented on #115
Yes, those annotations should be present. #114 addresses this, and a clean i386 build runs and tests happily now.  `$SRCDIR/configure --host=i386-linux CC="gcc -m32" CXX="g++ -m32"`

[2019-12-19 16:55] pmur opened #116 "Update README.* files"
Most of these are very out of date and do not reflect current practices.

Particularly, many useless or implicitly implied options have been removed with 10 years of hindsight.  Likewise, the developer instructions should be updated to reflect the x86-64 and i386 support available from libdfp. Most notably, the need to use `--host={arch}-linux-gnu` to ensure the target arch is properly compiled ag

[2019-12-19 16:58] pmur opened #117 "Integrate libbid from GCC"
GCC has a copy of libbid and also an FSF project under the same license. We should also provide a copy to ensure this library is reasonably performant on BID targets (e.g x86) too.

Such should also remove the mini-gmp implementation, and copy the work done in GCC to convert between decNumber and BID formats.

[2019-12-19 17:36] kenpocowboy opened #118 "libdfp: x86 interoperability with gcc"
Here is a small C program showing that GCC _Decimal128 and libdfp _Decimal128 don't play well together.

[code]
When running the code, the results from decimal128ToNumber are incorrect:

[code]

[2019-12-19 17:49] segher commented on #117
If changes in GCC are needed as well, timing isn't great, it might miss GCC-10.1?

[2019-12-19 18:14] kenpocowboy commented on #118
I really only need support for decimal128ToNumber, but for consistency, decimal128FromNumber should work as well.

Most of my work is done either in _Decimal128, or decNumber.

decNumber is required, not only for higher precision, but also as an intermediary betwixt _Decimal128 and other data types.

[2019-12-19 18:14] tuliom commented on #118
This is duplicated with issue #78 .
If this program is linked against a libdecnumber from GCC, it prints the right result:

[code]

[2019-12-19 18:18] kenpocowboy commented on #118
I, obviously, missed that when perusing the issues - sorry !

[2019-12-19 20:29] tuliom commented on #118
That's not a problem.   I plan to leave this issue open because you've just provided a testcase that should be part of one of our testcases.
Thanks!

[2020-01-02 15:54] pmur commented on #118
This is not a bug. It is an internal implementation difference between the two implementations, both in how BID is converted and how little endian support was added.

The libdfp _DecimalN <-> decNumber conversions assume the value is in big-endian. libgcc assumes host ordering. I don't think IEEE mandates a specific byte-ordering as libdfp would have you believe.  Using the public libdfp API, this

[2020-01-02 19:15] ryanarn commented on #118
Paul's analysis is correct. When I created libdfp I was working on it
before the ratification of BID into the IEEE 854r DFP spec (based on the
original sources from Mike Cowlishaw). I recall that this implementation
presumed Big-Endian.  After the ratification I didn't go out of my way to
support little-endian or BID compatibility but I did try to leave the
library flexible at build level. I belie

[2020-01-02 20:26] #113 closed

[2020-01-02 21:38] pmur commented on #115
This should be resolved now that #114 is merged.

[2020-01-02 21:38] #115 closed

[2020-01-06 21:59] pmur commented on #118
I've updated decNumber, so this should no longer be an issue. Ideally, we should be building an almost pristine copy from GCC now.

[2020-01-06 21:59] #118 closed

[2020-01-06 22:04] pmur commented on #78
I've merged the latest decNumber from GCC. I think this resolves the question.

[2020-01-06 22:04] #78 closed

[2020-01-06 22:07] pmur commented on #22
... And this was a bug in the test code as both the input and output values were rounded to produce a final value.

The rounded input needs to be passed through the oracle to avoid cases where the epsilon between inputs produces more than 1ULP of difference in the result.

[2020-01-06 22:07] #22 closed

[2020-01-06 22:10] pmur commented on #117
A did a first pass against this. Only minor changes were required to support PLT bypasses and wrangle exception flags. I'm not sure what, if any, the GCC community might be interested in.

[2020-01-07 01:13] kenpocowboy commented on #117
This is great news !  Thank you !

My immediate concern is Linux on X.
Next up is AIX (where I use the system libdecNumber)
Then will be Linux on P.
Finally, if I am still around, Linux on Z.

Having one, common, library will make my life *so* much easier :-)

I will give master some testing

[2020-01-07 12:07] stliibm opened #121 "make check fails with python3."
Generating the tests with python3 fails due to the following error:
File "tests/gen-libdfp-tests.py", line 281
op.cppchecks.append(cppcheckdict[earg])
TabError: inconsistent use of tabs and spaces in indentation

[2020-01-08 07:22] #121 closed

[2020-01-30 15:50] #106 closed

[2020-02-07 22:35] arteymix opened #123 "Cannot import dfp/math.h after math.h"
Hello!

I am trying to fiddle your library into a small project to provide extended numerical types through the GLib type system (see https://github.com/arteymix/numeric-glib/pull/12). I also expose these types in such a way we can use Vala/Genie languages for operating at a higher level.

Vala generates code that imports `math.h` prior to `dfp/math.h` and there is an explicit check to prevent thi

[2020-02-11 21:26] pmur commented on #123
This is due to a decision made many years ago not to integrate the _DecimalN features of ISO TR 24732 and later TS 18661-2 which extend the API of the standard C library and changes the behavior of many existing macro functions into glibc.  libdfp works around this by interposing C library headers which are modified by these proposals.  See Section 6 of README.user for more details.

In theory thi

[2020-02-11 21:42] arteymix commented on #123
I see. The trick would be to include dfp include folder in C include path.

Have you considered providing a pkg-config file to automate this work for end-users?

[2020-02-12 19:43] arteymix commented on #123
Everything works on my side now.

[2020-02-12 19:43] #123 closed

[2020-02-18 15:35] pmur commented on #117
And integrated now.

[2020-02-18 15:35] #117 closed

[2020-02-18 15:36] pmur commented on #93
And removed with the integration of libbid.

[2020-02-18 15:36] #93 closed

[2020-02-18 15:39] pmur opened #125 "fabs() macro is broken"
This is an almost type-generic macro (only with respect to _DecimalN) which will cause some weird headaches for binary float users.  This at best belongs in tgmath.h, and should be removed from math.h

[2020-02-21 15:30] tuliom opened #129 "Regression on ppc and ppc64"
I've been seeing the following failure on ppc and ppc64 since commit ad9746cb86c91a8cafed20951cadfaf1543f04d8:

[code]

[2020-02-21 17:08] pmur commented on #129
soft-dfp I assume?

[2020-02-21 18:02] tuliom commented on #129
@pmur Correct.  For both cases.

[2020-02-21 20:22] pmur commented on #129
Confirmed. The move of expd64 into common code exposed this.  This redirect is missing from `sysdeps/dpd/symbol-hacks.h`

[2020-02-24 07:32] stliibm commented on #129
Just as information:
I've just tested this on s390x/s390 without hardware dfp. Then I'm also seeing this issue.

[2020-03-17 21:20] #129 closed

[2020-03-18 07:10] stliibm commented on #129
Thanks. I've retested this on s390x/s390 without hardware dfp. There are no fails anymore.

[2020-03-18 15:10] pmur commented on #125
This is fixed with the aforementioned patch.

[2020-03-18 15:10] #125 closed

[2020-03-18 15:15] pmur opened #130 "configure check not correctly whitelisting toolchains"
An Ubuntu 16.04 pcp64le machine with GCC 5.4 passes check.

[2020-03-18 20:02] #130 closed

[2020-03-19 16:09] pmur commented on #83
@tuliom would you be able to doublecheck the autoconf magic for me?

Some of our internal builders may no longer include python2.

[2020-03-19 22:33] pmur opened #134 "_Float128 broken on GCC 9"
The intrinsic function naming was fixed sometime between GCC 7 and GCC 9.
i.e

[code]
We should export symbols for both in the name of compatibility.

[2020-06-23 21:08] pmur commented on #134
This was resolved by 2ecad94338fbff6f1602de689b92c359dc1563bd.

[2020-06-23 21:08] #134 closed

[2020-07-13 13:47] #62 closed

[2020-07-27 12:46] frediz opened #146 "$(dfp_backend) not defined in Makefile.in"
I noticed that this variable is undefined, when cleaning the build directory.
Thus I'm not sure if the related lines in the Makefile are not supposed to be there, or if they should, and in
this case, to which directory $(dfp_backend) is supposed to point at.

[2020-07-27 13:14] frediz opened #147 "Reproducibility issue"
On Debian, libdfp.a and libdfp-1.0.15.so contain full path to printf_dfp.c in the build directory.
This compilation line producing the issue is the following :
[code]
but if I point to printf_dfp.c relatively, it works :
[code]
As shown, -fdebug-prefix-map=OLD=NEW is used but it doesn't change anything. Is that path string in the binary not related to debug metadata ?

As a workaround, I build wit

[2020-07-27 14:16] pmur commented on #146
And resolved via noted committed. Thank you for reporting.

[2020-07-27 14:16] #146 closed

[2020-07-27 15:06] pmur commented on #147
print_dfp.c is using `assert` which is causing a reference to the filename.  A couple other places use it in libdfp, but define `NDEBUG` to disable code generation.  I am looking into it.

[2020-07-27 17:08] pmur commented on #147
@frediz would you be able to verify the referenced patch?  Your workaround above is ok too. Similarly, `-fdebug-prefix-map` will only replace debug symbol references, thus why it seems not to work.

[2020-07-28 10:04] frediz commented on #147
@pmur your patch works perfectly.
I think I just overlooked that assert ... because I checked https://reproducible-builds.org/docs/build-path/ which mentions it
and failed to grep it :)
Thank you!

[2020-07-28 13:40] #147 closed

[2020-08-10 13:27] tuliom opened #150 "Issues when building with LTO"
The Fedora community is enabling LTO on all its packages and noticed a couple of issues when running libdfp tests.
Notice that Stefan already investigated the s390x issues and confirmed they're caused by GCC issues.
Need to investigate what is causing the issues on ppc64le and x86_64.

Reference: https://bugzilla.redhat.com/show_bug.cgi?id=1863988

Errors on ppc64le:

[code]

Errors on x86_64:
[co

[2020-08-10 15:24] pmur commented on #150
The plt bypass tricks appear to no longer work when -flto is used.  I am not familiar with how the linking machinery behaves when lto is enabled.

[2020-08-11 16:46] pmur commented on #150
ppc64le has some interesting failures.  `fabsd128` inlining into acosd128 is failing because the it  preserves the asm usage of `fabsd128` but forgets it also needs to move the second half of the _Decimal128.  The inline asm could be replaced with `__builtin_fabsd128` which generates similar code but does not fail under LTO.

[2020-08-13 20:54] pmur commented on #150
`__dpd_trunctdsd2` is a curious failure.  It is a fairly small function ~7 instructions, and is used throughout libdfp.

Based on what I can find, I don't think we can trivially bypass PLT on intrinsics, nor it seems can LTO inline them.  Explicitly calling the otherwise implicit intrinsic functions does still work, but will make for an incredibly messy patch to workaround.

Would it be objectiona

[2020-09-04 14:03] pmur commented on #94
Issue #154 addes strfromdN

[2020-10-22 15:23] stliibm commented on #150
Regarding s390x FAIL: test-nextdown-d128 (see  https://bugzilla.redhat.com/show_bug.cgi?id=1863988#c5 for detailed information):

The gcc "[Bug 97439](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=97439) - Wrong min value generated for DFP numbers" is now fixed wit these commits:
- Fix PR97439 (gcc-master): https://gcc.gnu.org/git/gitweb.cgi?p=gcc.git;h=e3f25eac67aee77af0b2038cd4d6cbd36d7f1030
- Fi

[2020-10-22 19:56] pmur commented on #150
I don't think there is a reasonable workaround to avoid local PLT calls when GCC intrinsic functions and `-ftlo` are present.  The current mechanism is really an assembler level hack which isn't preservable when using LTO.  Even hard-dfp on ppc64le (only until GCC 11 or so) still relies on libgcc.

I think libdfp should avoid LTO unless there is some evidence to show it provides a measurable speed

[2021-01-29 15:55] tuliom opened #157 "x86_64 build failing"
A recent libdfp build for Fedora failed:
https://koji.fedoraproject.org/koji/buildinfo?buildID=1681835

I think it was the first build with gcc 11, more specifically: gcc-11.0.0-0.17.fc34.

[code]

[2021-02-01 17:24] #157 closed

[2021-02-16 13:07] tuliom opened #160 "s390x: 3 test failures on Fedora Rawhide"
While updating libdfp on Fedora Rawhide, I noticed the following failures on s390x:

[code]
Source: https://koji.fedoraproject.org/koji/taskinfo?taskID=62029024

I still don't have much information about them.
Notice that Rawhide is using GCC 11 now.

[2021-02-16 14:44] tuliom commented on #160
More details:
[code]
Source: https://koji.fedoraproject.org/koji/taskinfo?taskID=62087722

[2021-02-16 16:11] pmur commented on #160
@stliibm FYI.

[2021-02-16 20:38] tuliom commented on #160
Notice the same SRPM pass all the tests on F33 (GCC 10): https://koji.fedoraproject.org/koji/taskinfo?taskID=62088777

[2021-02-16 20:42] tuliom commented on #160
I've recently backported 2 patches to Fedora. The code is available at: https://src.fedoraproject.org/fork/tuliom/rpms/libdfp/tree/bug/1923668

[2021-02-17 15:13] stliibm commented on #160
I was able to reproduce it on my system with a self build gcc (commit 78a6d0e30d7950216dc0c5be5d65d0cbed13924c).

All three testcases are segfaulting as they run out of stack due to recursive calls to itself in __dpd_extend/trunc functions while converting _Decimal128|64|32 to or from long double. This is a GCC 11 regression as the pfpo instruction should be used for all bpf <-> dfp conversions as

[2021-02-22 14:34] stliibm commented on #160
I've just restested libdfp with gcc-head:
$ git log --oneline
60b99ee3bc0 (HEAD -> master, origin/master, origin/HEAD) Daily bump.
...
b6e446cb581 IBM Z: Fix long double <-> DFP conversions
a974b8a592e IBM Z: Improve FPRX2 <-> TF conversions
=> See also GCC-Bugzilla:
"Bug 99134 - S390x: pfpo instructions are not used for dfp[128|64|32] to/from long double conversions"
https://gcc.gnu.org/bugzilla/

[2021-02-23 10:36] tuliom commented on #160
@stliibm No, I don't think it's automatic. But they've been updating it frequently.
The last update was 12 days ago, so I expect a new one soon.
I'll keep an eye on it in order to rebuild libdfp with my patches there.

Thank you!

[2021-03-23 13:15] tuliom commented on #160
gcc-11.0.0-0.20.fc34 has just landed on Fedora 34 and this issue has been fixed.
I created a PR to merge the latest updates: https://src.fedoraproject.org/rpms/libdfp/pull-request/6

[2021-03-23 13:15] #160 closed

[2021-06-15 13:53] pmur opened #161 "1.0.16 release"
It's been about a year, a bit of cleanup has been done, a little more TS 18661-2 API has been added, and a few build system fixes found from 1.0.15. This should be a fairly minor release.

I'd like to cut the release around July 12. @stliibm @tuliom do either of you have an concerns, requests, or outstanding issues which should be addressed?

[2021-06-15 14:34] stliibm commented on #161
This is fine for me. Thanks Paul.

[2021-06-18 21:50] tuliom commented on #161
@pmur I don't think it's mandatory, but it would be great to have PR #162 merged for this version.

[2021-07-14 15:55] pmur commented on #161
1.0.16 is released. Thanks all for your feedback!

[2021-07-14 15:55] #161 closed

[2021-09-10 13:35] #56 closed

[2021-10-02 22:34] dacodas opened #164 "Improper behavior of operator>>"
I don't believe that the [`std::basic_istream<charT, traits> & operator>>(std::basic_istream<charT, traits> & is, decimal32 & d)`][1] definitions adhere to the C++ [FormattedInputFunction][2] named requirement.

[There][3] [is][4] [a][5] [whole][6] lot happening in the GCC machinery that implements this.

The main symptom I noticed is that when this library calls `.read()` on the `istream` during

[2021-10-03 03:36] dacodas opened #165 "Definition of decimal floating point type limits"
Does it make sense to define constants analogous to [these][1] for the decimal floating point types?

[1]: https://en.cppreference.com/w/c/types/limits#Limits_of_floating_point_types

[2021-10-03 04:41] dacodas commented on #164
A very simple attempt which simply calques the GCC internals can be found [here][1]. I will clean this up a bit, perhaps write some tests, and submit a pull request.

[1]: https://github.com/libdfp/libdfp/compare/master...dacodas:dacoda/operator%3E%3E

[2021-10-06 05:35] dacodas commented on #164
Looking at the definition of strtod_l.c in glibc, I determined that I am not up to snuff to take on the locale dependent parsing. Perhaps another time will warrant a deeper look.

For now, the pull request takes from the generic locale config in glibc, which assumes that the string is formatted according to the C locale.

[2021-10-08 15:05] pmur opened #167 "Allow DCO patches without copyright assignment?"
glibc has moved to a similar model recently. I think copyright assignment presents a strong barrier for individual contributors who don't have corporate sponsorship.

[2021-10-11 05:16] dacodas opened #168 "Improper behavior of operator<<"
While writing tests for pull request #166 to address #164, I noticed that the `stringstream` used in the definition of `_ISC_P` was reporting errors after being written to by `operator<<`. I think there similarly needs to be some changes here with a `sentry` wrapping the write to make sure everything goes off without a hitch.

[2021-10-11 05:55] dacodas commented on #66
I have made this observation and am curious about it as well.

[2021-11-10 15:12] ian-abbott opened #169 "Memory leak in `strtod32` etc."
Eyeballing `FUNCTION_L_INTERNAL()` in "stdlib/strtod32.c", not all paths through the function call `freelocale(C_locale);` before returning.

[2021-11-12 13:31] ian-abbott opened #170 "Dodgy hexadecimal parsing in `strtod32` etc."
Looking at `FUNCTION_L_INTERNAL()` in "stdlib/strtod32.c":

1. The `TOLOWER()` calls in the following extract seem to be in the wrong place:

[code]

It does not allow `c` to be upper-case `'A'` through `'F'`.

2. In the following extract, it seems to be incorrectly treating `'g'` and `'h'` as hexadecimal digits:

[code]

[2021-11-12 15:18] pmur commented on #170
Would you have some representative test cases to demonstrate? I suspect this code was inherited and adopted from glibc. Looking at the test coverage, I am unsure if base 16 inputs have been considered.

[2021-11-12 17:35] ian-abbott commented on #170
Here are some test cases. The handling of the fractional part after the decimal point is also incorrect.

[code]

[2021-11-12 20:18] pmur commented on #170
Refreshing my knowledge of strtodN as standardized by TS-18661 part 2, only strings expressed in base-10 are acceptable and parsed.  strto{f,d,ld,fN} (from C99 and TS-18661 part 3) convert base 10 and base 16.

In the cases above, the expected value is 0. and a pointer to the second character. If more generalized radix conversion is needed, something like gmp is better suited for accurate conversi

[2021-11-13 06:22] ian-abbott commented on #170
@pmur That should be an easy fix then!

[2021-12-02 16:09] #167 closed

[2021-12-03 20:34] pmur commented on #169
This should be fixed with 437c154655625c408316a18767727626e1cbe9e4

[2021-12-03 20:34] #169 closed

[2021-12-14 21:22] pmur opened #174 "fmodN fails with large magnitude difference in dividend and divisor"
`fmod128(9e6111,pi/2)` returns a NaN because libdecnumber refuses to divide it. It seems to require a substantially larger accumulator to produce results for computing remainders from a substantially larger dividend.

This affects a few other trig functions too (e.g sin/cos) as they also effectively try to compute a remainder in less than ideal ways.

[2022-02-24 05:46] newbie-02 opened #178 "inconsistent conversion of double values?"
Forgive me if I am wrong, I am not experienced in checking installations for their correlations, pls. recheck!

I have the impression that the conversion of the double representation of decimal 0.1 and decimal 77.4 are logically different.
for both values the double representation is 'overshot', so much so that decimal rounding leads to a further different value.

For 0.1 that is overcome in the c

[2022-02-24 15:14] pmur commented on #178
The 64 bit formats have differing levels of precision, and these values will be rounded in each step. The intermediate decimal value is most likely not the starting value in either case, and will likely needing rounding on each conversion.

A conversion from double->long double via strings should be within 1ulp with 17 digits. libdfp provides `strfromd64` with similar semantics to `strfromd`. In b

[2022-02-25 06:42] newbie-02 commented on #178
whatever it takes ... for a meaningful datatype '_Decimalxxx' and a meaningful conversion to and from binary datatypes there is hardly any other option than (decimal)x == (_Decimalxxx)x <~> nearest (bin-FPxxx)x ( with precision capability to represent decimal x ) <~> (shortest roundtripping decimal equivalent)x == (decimal)x.

Anything else produces yet another useless standard, new irritations an

[2022-02-25 12:10] newbie-02 commented on #178
from a short check about the scope of the problem:

in the range [ 64 .. 100 ) plenty figures are affected, all but not limited to xx.4 figures, 99.1, 99.9 and also figures with more digits like 64.51, 64.519 ...

similar happens in other ranges with 'weak binary representation', e.g. 99999.9 converts to 99999.899999999990001242 and 9.3 to 9.300000000000001000.

one could say the accuracy in conve

[2022-02-25 14:14] tuliom commented on #178
@newbie-02 It isn't the conversion that is "weak".  It's just that binary floating point types (i.e. Intel's long double) can't represent this number in decimal format (i.e. printf's `%Lf`).
You can confirm it by yourself here:

[code]

In other words: if the decimal representation is important for your application, all variable should always be kept in the decimal format. Whenever a conversion ha

[2022-02-26 09:41] newbie-02 commented on #178
@tuliom,

thks for your quick reply,

I'm not working for 'my application', but trying to achieve or come near to decimal correct calculations in general. I thought to check the performance and capabilities of _Decimals, and possibly migrate or do some critical calculations with that datatype, imprecise conversions are a blocker for such.

have to admit that my system isn't well fitted yet, e.g. i

[2022-02-28 23:05] tuliom commented on #178
@newbie-02 , have you looked at multiple-precision libraries? You seem to be describing a problem that is ideally solved by them.
Here is a sample code using MPFR: https://www.mpfr.org/sample.html

[2022-03-01 10:49] newbie-02 commented on #178
@tuliom:

tks for that hint, it unveils a shortcoming to express my ideas correctly. i'm not looking for exotic, costly, special solutions, but attempting to plug the leaks in common programs, esp. spreadsheets. they - or just generally other programs that enjoy fast FP calculations - are / form 'well-established systems', with a few shortcomings, and a few inadequate attempts to correct or whitew

[2022-03-01 13:02] tuliom commented on #178
No, for the reasons that @pmur and I already explained.
If the precision is so important for the problem you're trying to solve, you must not have intermediate conversions. Be careful with implicit conversions too.

With that said, I'm closing this issue.

[2022-03-01 13:02] #178 closed

[2022-11-29 10:49] jwakely opened #184 "Add specializations of C++20 std::formatter"
C++20 adds a new API for formatting arbitrary types as strings:
https://en.cppreference.com/w/cpp/utility/format

All that's needed to extend it is a specialization of the std::formatter class template:
https://en.cppreference.com/w/cpp/utility/format/formatter

So that would make it possible to print decimal types to strings without relying on the ostream support in libdfp today.

[code]

[2022-11-29 10:49] jwakely commented on #184
I'll probably work on this myself, so assign it to me if you want.

[2022-11-29 15:03] pmur commented on #184
Neat, thanks for volunteering. Admittedly, my modern C++ is a bit rusty, would this need to live inside libdfp? Though, my suspicion is the lack of intrinsic string functions in libgcc might make the difficult.

[2022-11-29 15:35] jwakely commented on #184
It will need to call the libdfp code for printing decimal types, so can't really live inside libstdc++.

[2022-11-29 15:38] jwakely opened #185 "Outdated info about availability in README.developer"
This looks out of date:

https://github.com/libdfp/libdfp/blob/96a6edb07af44ca5b3c5600e0e662d6308c55fc6/README.developer#L136-L139